// Place all the styles related to the Albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.bar {
    height: 18px;
    background: green;
    display: inline-block;
}

.inline_header{
	h1, h2, h3, h4, h5, h6{
		display: inline-block;
	}
}